<div class="container">

  <title-row titleCode="О клубе"></title-row>

  <div class="row">
    <div class="col">
      <p>
        Devclub - это ежемесячные, открытые для каждого, встречи, на которых в неформальной
        обстановке выступают, как правило, на русском языке на темы, связанные с инфотехнологиями,
        три докладчика. Каждый может стать зрителем - для этого достаточно совершенно бесплатно
        зарегистрироваться на встречу.
      </p>
      <p>
        Более того каждый может стать докладчиком - для этого
        достаточно <b><a target="_blank" ga-click="url|||click_out|||new_speech"
                         href="https://docs.google.com/forms/d/1xdBXhnLIIpP3ll-1zWIHtOStGG8XH2M65TApPn77JK4/viewform">написать
        нам</a></b> о темах, и мы свяжемся с вами. Мы существуем с 2008 года, а с 2009 года встречи проходят
        регулярно
        каждый месяц
        (<b><a target="_blank"
               href="https://www.youtube.com/channel/UCLq7vcHtwDtx4m9ZUrgxEBA/playlists"
               ga-click="url|||click_out|||youtube">YouTube-канал</a></b>)
        - всё это возможно благодаря нашим спонсорам и добровольным пожертвованиям.
      </p>
    </div>
  </div>

  <title-row titleCode="Расписание событий"></title-row>

  <div class="row mb-3">
    <iframe [src]="calendarUrl" class="col" style="border: 0"
            height="200" frameborder="0" scrolling="no"></iframe>
  </div>

  <title-row titleCode="Ресурсы клуба"></title-row>

  <ressources></ressources>

  <title-row titleCode="В фотографиях"></title-row>

  <div class="row" *ngFor="let rows of dataContext.config.photos">
    <div class="col-12 col-md mb-3" *ngFor="let photo of rows">
      <div class="image-wrap">
        <a href="{{photo.main}}" target="_blank" class="image-lighten">
          <img src="{{photo.small}}" class="img-fluid"/>
        </a>
        <a href="{{photo.main}}" target="_blank" class="photo-text">
          {{photo.texts | localize}}
        </a>
      </div>
    </div>
  </div>

  <title-row titleCode="В прошлом нам помогали"></title-row>

  <div class="row mb-3">
    <div class="col-12 col-md" *ngFor="let rows of dataContext.teamThanks">
      <div *ngFor="let p of rows">
        <a href="{{p.url}}">{{p.names | localize}}</a>
      </div>
    </div>
  </div>
</div>
