<div class="container">

  <title-row>{{'about.title.about_us' | translate}}</title-row>

  <div class="row">
    <div class="col">
      <img class="mx-auto d-block d-sm-none" src="assets/images/logo_desc.png" />
    </div>
  </div>

  <div class="row">
    <div class="col">
      <img class="d-none d-sm-block" style="float:left" src="assets/images/logo_desc.png" />
      <p translate>about.desc.p1</p>
      <p translate>about.desc.p2</p>
      <p translate>about.desc.p3</p>
      <p translate>about.desc.p4.base_ressources</p>
      <ul>
        <li>DEVCLUB.EU: <a [href]="dataContext.eu.youtube" target="_blank" translate>about.desc.p4.video</a> | <a [href]="dataContext.eu.googlephoto" target="_blank" translate>about.desc.p4.photo</a> | <a [href]="dataContext.eu.facebookgroup" target="_blank" translate>about.desc.p4.facebook</a></li>
        <li>DEVCLUB.EE: <a [href]="dataContext.ee.youtube" target="_blank" translate>about.desc.p4.video</a> | <a [href]="dataContext.ee.googlephoto" target="_blank" translate>about.desc.p4.photo</a> | <a [href]="dataContext.ee.facebook" target="_blank" translate>about.desc.p4.facebook</a> | <a [href]="dataContext.ee.twitter" target="_blank" translate>about.desc.p4.twitter</a></li>
      </ul>
    </div>
  </div>

  <title-row>{{'about.title.events' | translate}}</title-row>

  <div class="row mb-3">
    <iframe [src]="calendarUrl" class="col" style="border: 0"
            height="200" frameborder="0" scrolling="no"></iframe>
  </div>

  <title-row>{{'about.title.resources' | translate}}</title-row>

  <ressources></ressources>

  <title-row>{{'about.title.photos' | translate}}</title-row>

  <div class="row" *ngFor="let rows of dataContext.config.photos">
    <div class="col-6 col-md-3 mb-3" *ngFor="let photo of rows">
      <div class="image-wrap">
        <a href="{{photo.main}}" target="_blank" class="image-lighten">
          <img src="{{photo.small}}" class="img-fluid"/>
        </a>
        <a href="{{photo.main}}" target="_blank" class="photo-text">
          {{photo.texts | localize}}
        </a>
      </div>
    </div>
  </div>

  <title-row>{{'about.title.thanks' | translate}}</title-row>

  <div class="row mb-3">
    <div class="col-12 col-md" *ngFor="let rows of dataContext.teamThanks">
      <div *ngFor="let p of rows">
        <a href="{{p.url}}">{{p.names | localize}}</a>
      </div>
    </div>
  </div>
</div>
