<div class="form-row mt-3">
  <div class="form-group col-md-6">
    <label for="speaker">{{'archive.main.filter.speaker' | translate}}</label>
    <div class="input-group">
      <input id="speaker" [(ngModel)]="dataContext.filter.speaker"
             (change)="searchBySpeaker()" type="text" class="form-control"/>
      <div class="input-group-append">
        <span class="input-group-text pointer"
              (click)="dataContext.filter.speaker = ''; search()">
          <fa-icon [icon]="['fas', 'times']"></fa-icon>
        </span>
      </div>
    </div>
  </div>
  <div class="form-group col-md-6">
    <label for="texts">{{'archive.main.filter.texts' | translate}}</label>
    <div class="input-group">
      <input id="texts" [(ngModel)]="dataContext.filter.texts"
             (change)="searchByTexts()" type="text" class="form-control"/>
      <div class="input-group-append">
        <span class="input-group-text pointer"
              (click)="dataContext.filter.texts = ''; search()">
          <fa-icon [icon]="['fas', 'times']"></fa-icon>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-3 col-lg-4">
    <label for="labels">{{'archive.main.filter.label' | translate}}</label>
    <div class="input-group">
      <ng-template #labelItemTemplate let-model="item">
        <span>{{model.name}} ({{model.count}})</span>
      </ng-template>
      <input id="labels"
             [(ngModel)]="dataContext.filter.label"
             [typeahead]="dataContext.labels"
             [typeaheadOptionsLimit]="7"
             [typeaheadMinLength]="0"
             typeaheadOptionField="name"
             [typeaheadItemTemplate]="labelItemTemplate"
             (typeaheadOnSelect)="searchByLabel($event)"
             (change)="searchByLabelClear()"
             class="form-control"/>
      <div class="input-group-append">
        <span class="input-group-text pointer"
              (click)="dataContext.filter.label = ''; search()">
          <fa-icon [icon]="['fas', 'times']"></fa-icon>
        </span>
      </div>
    </div>
  </div>
  <div class="form-group col-md-4">
    <label for="season">{{'archive.main.filter.seasons' | translate}}</label>
    <div class="input-group">
      <div class="input-group-append" *ngIf="getMinusYearText() != '' && !seasonDisabled">
        <span class="input-group-text pointer" (click)="minusYear()">
          <fa-icon [icon]="['fas', 'angle-left']"></fa-icon> &nbsp; {{getMinusYearText()}}
        </span>
      </div>
      <select id="season" class="form-control"
              [(ngModel)]="dataContext.filter.season" (change)="searchBySeason()" [disabled]="seasonDisabled">
        <option [ngValue]="ALL_SEASONS">
          {{'archive.main.filter.seasons.all' | translate}}
        </option>
        <option *ngFor="let year of dataContext.seasons" [ngValue]="year">{{year}}</option>
      </select>
      <div class="input-group-append" *ngIf="getPlusYearText() != '' && !seasonDisabled">
        <span class="input-group-text pointer" (click)="plusYear()">
          {{getPlusYearText() | translate}} &nbsp; <fa-icon [icon]="['fas', 'angle-right']"></fa-icon>
        </span>
      </div>
    </div>
  </div>
  <div class="form-group col-md-5 col-lg-4">
    <label for="view">{{'archive.main.filter.view' | translate}}</label>
    <div class="input-group">
      <div class="btn-group" role="group" id="view">
        <button (click)="asList = true"
                [ngClass]="{'active': asList === true}"
                type="button" class="btn btn-light">
          <fa-icon [icon]="['fas', 'th-list']" class="small"></fa-icon>
          {{'archive.main.mode.list' | translate}}
        </button>
        <button (click)="asList = false"
                [ngClass]="{'active': asList === false}"
                type="button" class="btn btn-light">
          <fa-icon [icon]="['fas', 'th']" class="small"></fa-icon>
          {{'archive.main.mode.block' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="mt-3" *ngFor="let m of meetings; trackBy: trackById">
  <dc-meeting-info-block *ngIf="!asList" [meeting]="m" [speechOptions]="speechOptions"></dc-meeting-info-block>
  <dc-meeting-info-list *ngIf="asList" [meeting]="m" [speechOptions]="speechOptions"></dc-meeting-info-list>
</div>
