<div class="dc-archive-filters">
<div class="row g-2 mt-3">
  <div class="col-md-6 mb-3">
    <label for="speaker">{{ 'archive.main.filter.speaker' | translate }}</label>
    <div class="input-group">
      <input
        id="speaker"
        [(ngModel)]="filter.speaker"
        (change)="searchBySpeaker()"
        type="text"
        class="form-control"
      />
      <button type="button" class="input-group-text pointer" (click)="filter.speaker = ''; search()"
              aria-label="{{ 'archive.main.filter.speaker' | translate }}">
        <fa-icon [icon]="['fas', 'times']"></fa-icon>
      </button>
    </div>
  </div>
  <div class="col-md-6 mb-3">
    <label for="texts">{{ 'archive.main.filter.texts' | translate }}</label>
    <div class="input-group">
      <input
        id="texts"
        [(ngModel)]="filter.texts"
        (change)="searchByTexts()"
        type="text"
        class="form-control"
      />
      <button type="button" class="input-group-text pointer" (click)="filter.texts = ''; search()"
              aria-label="{{ 'archive.main.filter.texts' | translate }}">
        <fa-icon [icon]="['fas', 'times']"></fa-icon>
      </button>
    </div>
  </div>
</div>

<div class="row g-2">
  <div class="col-md-3 col-lg-4 mb-3">
    <label for="labels">{{ 'archive.main.filter.label' | translate }}</label>
    <div class="input-group">
      <ng-template #labelItemTemplate let-model="item">
        <span>{{ model.name }} ({{ model.count }})</span>
      </ng-template>
      <input
        id="labels"
        [(ngModel)]="filter.label"
        [typeahead]="labels"
        [typeaheadOptionsLimit]="7"
        [typeaheadMinLength]="0"
        typeaheadOptionField="name"
        [typeaheadItemTemplate]="labelItemTemplate"
        (typeaheadOnSelect)="searchByLabel($event)"
        (change)="searchByLabelClear()"
        class="form-control"
      />
      <button type="button" class="input-group-text pointer" (click)="filter.label = ''; search()"
              aria-label="{{ 'archive.main.filter.label' | translate }}">
        <fa-icon [icon]="['fas', 'times']"></fa-icon>
      </button>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <label for="season">{{ 'archive.main.filter.seasons' | translate }}</label>
    <div class="input-group">
      <button
        type="button"
        class="input-group-text pointer"
        *ngIf="getMinusYearText() != '' && !seasonDisabled"
        (click)="minusYear()"
        aria-label="{{ getMinusYearText() }}"
      >
        <fa-icon [icon]="['fas', 'angle-left']"></fa-icon> &nbsp; {{ getMinusYearText() }}
      </button>
      <select
        id="season"
        class="form-select"
        [(ngModel)]="filter.season"
        (change)="searchBySeason()"
        [disabled]="seasonDisabled"
      >
        <option [ngValue]="ALL_SEASONS">
          {{ 'archive.main.filter.seasons.all' | translate }}
        </option>
        <option *ngFor="let year of seasons" [ngValue]="year">{{ year }}</option>
      </select>
      <button
        type="button"
        class="input-group-text pointer"
        *ngIf="getPlusYearText() != '' && !seasonDisabled"
        (click)="plusYear()"
        aria-label="{{ getPlusYearText() | translate }}"
      >
        {{ getPlusYearText() | translate }} &nbsp;
        <fa-icon [icon]="['fas', 'angle-right']"></fa-icon>
      </button>
    </div>
  </div>
  <div class="col-md-5 col-lg-4 mb-3">
    <label for="view">{{ 'archive.main.filter.view' | translate }}</label>
    <div class="input-group">
      <div class="btn-group" role="group" id="view">
        <button
          (click)="changeView(true)"
          [ngClass]="{ active: asList === true }"
          [attr.aria-pressed]="asList === true"
          [attr.aria-label]="'archive.main.mode.list' | translate"
          type="button"
          class="btn btn-light"
        >
          <fa-icon [icon]="['fas', 'th-list']" class="small"></fa-icon>
          {{ 'archive.main.mode.list' | translate }}
        </button>
        <button
          (click)="changeView(false)"
          [ngClass]="{ active: asList === false }"
          [attr.aria-pressed]="asList === false"
          [attr.aria-label]="'archive.main.mode.block' | translate"
          type="button"
          class="btn btn-light"
        >
          <fa-icon [icon]="['fas', 'th']" class="small"></fa-icon>
          {{ 'archive.main.mode.block' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
</div>

<div class="mt-3" *ngFor="let m of visibleMeetings; trackBy: trackById">
  <dc-meeting-info-block
    *ngIf="!asList"
    [meeting]="m"
    [speechOptions]="speechOptions"
  ></dc-meeting-info-block>
  <dc-meeting-info-list
    *ngIf="asList"
    [meeting]="m"
    [speechOptions]="speechOptions"
  ></dc-meeting-info-list>
</div>

<div class="dc-empty-result" *ngIf="visibleMeetings.length === 0">
  <fa-icon [icon]="['fas', 'th-list']" class="dc-empty-result-icon"></fa-icon>
  <p class="mb-3">{{ 'archive.main.filter.no_results' | translate }}</p>
  <button type="button" class="btn btn-outline-primary" (click)="clearFilters()">
    {{ 'archive.main.filter.no_results.clear' | translate }}
  </button>
</div>
