<ng-container *ngIf="!meeting.hiddenByFilter">
  <div class="row border-bottom" style="height: 30px;">
    <div class="col small text-muted">
      {{ meeting.start | date:'dd.MM.yyyy' }}
      | {{'common.weekday.' + meeting.start.getDay() | translate }}
      &nbsp;&nbsp;&nbsp;
      #{{ meeting.num }}{{ meeting.titles ? ': ' : ''}}{{ meeting.titles | localize }}
      <div class="float-right">
        <ng-container *ngFor="let photo of meeting.photo">
          <a href="{{photo}}" target="_blank">
            <fa-icon *ngIf="photo" [icon]="['fas', 'camera']" size="2x"></fa-icon>
          </a>&nbsp;
        </ng-container>
      </div>
    </div>
  </div>
  <div class="row small">
    <div class="col text-right text-muted">{{ meeting.place?.name }}</div>
  </div>
  <dc-speech-row *ngFor="let speech of meeting.speeches; trackBy: trackByMeetingIdAndIndex"
                 [speech]="speech" [options]="speechOptions"></dc-speech-row>
</ng-container>
