<ng-container *ngIf="!meeting.hiddenByFilter">
  <div class="row border-bottom small">
    <div class="col">
      {{ meeting.start | date:'dd.MM.yyyy' }}
      | {{'common.weekday.' + meeting.start.getDay() | translate }}
      &nbsp;&nbsp;&nbsp;
      #{{ meeting.num }}{{ meeting.titles ? ': ' : ''}}{{ meeting.titles | localize }}
      <div class="float-right">
          <span *ngFor="let photo of meeting.photo">
            <a href="{{photo}}" target="_blank"><span *ngIf="photo" class="fas fa-camera"></span></a>&nbsp;
          </span>
      </div>
    </div>
  </div>
  <div class="row small">
    <div class="col text-right">
      {{ meeting.place?.name }}
    </div>
  </div>
  <dc-speech-row *ngFor="let speech of meeting.speeches; trackBy: trackByMeetingIdAndIndex"
                 [speech]="speech" [options]="speechOptions"></dc-speech-row>
</ng-container>
