<div class="row" *ngIf="!speech.hiddenByFilter">
  <div class="col">
    <ng-content></ng-content>
    <span class="mr-1"></span>

    <!-- youtube -->
    <ng-template #videoInfo>
      <ng-container *ngIf="speech.orgCam">
        {{'speech.video.info.camera' | translate}}: {{speech.orgCam}}<br/>
      </ng-container>
      <ng-container *ngIf="speech.orgEdit">
        {{'speech.video.info.edit' | translate}}: {{speech.orgEdit}}
      </ng-container>
    </ng-template>
    <span placement="top" [tooltip]="videoInfo" [isDisabled]="!speech.orgCam && !speech.orgEdit">
      <a *ngFor="let youtubeUrl of speech.youtubeUrls" href="{{youtubeUrl}}" target="_blank">
        <fa-icon *ngIf="youtubeUrl" [icon]="['fab', 'youtube']" class="mr-1"></fa-icon>
      </a>
    </span>

    <!-- speech info icon -->
    <span *ngIf="speech.info" [tooltip]="speech.info | localize" placement="right"><fa-icon
      [icon]="['fas', 'video-slash']" class="mr-1"></fa-icon></span>

    <!-- trophy -->
    <span *ngIf="speech.top" [ngClass]="'place' + speech.top.place"
          [tooltip]="'common.speech.top.tooltip' | translate:{place: speech.top.place}"
          placement="right">
      <fa-icon [icon]="['fas', 'trophy']" class="small mr-1"></fa-icon></span>

    <!-- title -->
    <b class="mr-1">{{speech.titles | localize}}</b>

    <!-- labels -->
    <span *ngIf="speech.labelsAsText" [tooltip]="speech.labelsAsText" placement="top">
      <fa-icon [icon]="['fas', 'tags']" size="xs" class="mr-1 text-muted"></fa-icon>
    </span>

    <!-- language -->
    <span *ngIf="lang !== speech.lang" [tooltip]="'common.speech.lang.' + speech.lang | translate" placement="top">
      <fa-icon [icon]="['fas', 'language']" class="mr-1 text-danger"></fa-icon>
    </span>

    <!-- additional materials: presentation -->
    <span *ngFor="let presentationUrl of speech.presentations"
          [tooltip]="'common.speech.presentation.tooltip' | translate"
          placement="bottom">
      <a [href]="fileUrlPrefix + '/' + presentationUrl" target="_blank">
        <fa-icon [icon]="['fab', 'slideshare']" class="small mr-1"></fa-icon></a>
    </span>

    <!-- additional materials: examples -->
    <span *ngFor="let exampleUrl of speech.examples" [tooltip]="'common.speech.example.tooltip' | translate"
          placement="bottom">
      <a [href]="fileUrlPrefix + '/' + exampleUrl" target="_blank">
        <fa-icon [icon]="['fas', 'file-alt']" class="small mr-1"></fa-icon></a>
    </span>

    <span> — </span>

    <!-- speakers -->
    <ng-container *ngFor="let speaker of speech.speakers; let last = last">
      <a *ngIf="speaker.url" [href]="speaker.url" target="_blank">
        <fa-icon [icon]="['fas', 'user']" class="small mr-1"></fa-icon>
      </a>
      <a *ngIf="options && options.clickNameFn" class="dotted" (click)="options.clickNameFn(speaker)"
         href="javascript:void(0)">{{speaker.names | localize}}</a>
      <ng-container *ngIf="!options || !options.clickNameFn">{{speaker.names | localize}}</ng-container>
      <ng-container *ngIf="!last">,</ng-container>
      <span>&nbsp;</span>
    </ng-container>
  </div>
</div>
