<div class="col-12 meeting-container">
  <div class="row">
    <div class="col-12 meeting-header-container">
      <h2 class="mb-0">
        <a *ngFor="let photo of meeting.photo" href="{{photo}}" target="_blank">
          <span *ngIf="photo" class="fas fa-camera"></span></a>
        {{'common.title.meeting' | translate}} #{{meeting.num}} {{meeting.titles | localize}}
      </h2>
    </div>
  </div>
  <div class="row meeting-info-container">
    <div class="col-sm-9">
      <p>
        <span class="fas fa-calendar-alt w20 meeting-info-icon"></span>
        {{meeting.start | date:'dd.MM.yyyy'}}
        | {{'common.weekday.' + meeting.start.getDay() | translate }}
        <span class="fas fa-clock meeting-info-icon"></span>
        {{meeting.start | date:'HH:mm'}}<br/>
        <span *ngIf="meeting.place">
          <span class="fas fa-home w20 meeting-info-icon"></span>
          {{meeting.place.name}}
          <a *ngIf="meeting.place.url" href="{{meeting.place.url}}" target="_blank">
            <span class="fas fa-external-link-square-alt"></span></a>
          <br/>
          <span class="fas fa-map w20 meeting-info-icon"></span>
          {{meeting.place.addr}}
          <a *ngIf="meeting.place.loc" href="{{meeting.place.loc}}" target="_blank">
            <span class="fas fa-external-link-square-alt"></span></a>
        </span>
      </p>
    </div>
    <div class="col-sm-3 text-right">
      <a *ngIf="showRegisterEvent && meeting.event" href="{{meeting.event}}" class="btn btn-info" target="_blank">{{'main.meeting.registration'
        | translate}}</a>
    </div>
  </div>
  <div class="row speech-container" *ngFor="let speech of meeting.speeches">
    <div class="col-sm-4 col-md-3" *ngFor="let speaker of speech.speakers">
      <div class="image-wrap mb-3">
        <a href="{{speaker.url}}" target="_blank">
          <img src="{{speaker.imageUrl}}" class="img-fluid meeting-info-speaker-image">
        </a>
        <!-- <div class="member-text">
          {{speaker.names | localize}}
        </div> -->
      </div>
      <div class="name-container">
        <h4>
          <a *ngIf="speechOptions && speechOptions.clickNameFn" class="dotted"
             (click)="speechOptions.clickNameFn(speaker)" href="javascript:void(0)">
            {{speaker.names | localize}}</a>
          <ng-container *ngIf="!speechOptions || !speechOptions.clickNameFn">
            {{speaker.names | localize}}
          </ng-container>
        </h4>
      <div class="small text-muted">{{speaker.titles | localize}}</div>  
      </div>


    </div>
    <div class="col-sm-8 col-md-9">
      <div class="mb-1">
        <h3 class="mb-0 pb-0">
          <a *ngFor="let youtubeUrl of speech.youtubeUrls" href="{{youtubeUrl}}" target="_blank">
            <span *ngIf="youtubeUrl" class="fab fa-youtube"></span>
          </a>
          <span *ngIf="speech.info" [tooltip]="speech.info | localize" placement="right">
            <i class="fas fa-info-circle"></i>
          </span>
          <span *ngIf="speech.top" [ngClass]="'place' + speech.top.place"
                [tooltip]="'common.speech.top.tooltip' | translate:{place: speech.top.place}"
                placement="right">
            <i class="fas fa-trophy"></i>
          </span>
          {{speech.titles | localize}}
        </h3>
        <div class="mb-3 mt-3">
          <ng-container *ngIf="speechOptions && speechOptions.clickLabelFn">
            <span class="badge badge-big badge-label mr-3 pointer" (click)="speechOptions.clickLabelFn(label)" *ngFor="let label of speech.labels">
              {{label}}</span>
          </ng-container>
          <ng-container *ngIf="!speechOptions || !speechOptions.clickLabelFn">
            <span class="badge badge-big badge-label mr-3" *ngFor="let label of speech.labels">
              {{label}}</span>
          </ng-container>
          <span class="badge badge-big mr-1"
                [ngClass]="{'badge-lang': translate.currentLang === speech.lang,
                  'badge-danger': translate.currentLang !== speech.lang}">
            {{'common.speech.lang.' + speech.lang | translate}}
          </span>
          <span *ngFor="let presentationUrl of speech.presentations"
                [tooltip]="'common.speech.presentation.tooltip' | translate"
                placement="bottom">
            <a [href]="presentationUrl" target="_blank"><i class="fab fa-slideshare small"></i></a>
          </span>
              <span *ngFor="let exampleUrl of speech.examples"
                    [tooltip]="'common.speech.example.tooltip' | translate"
                    placement="bottom">
            <a [href]="exampleUrl" target="_blank"><i class="fas fa-file-alt small"></i></a>
          </span>
        </div>
        <!-- <span *ngFor="let speaker of speech.speakers">
          <h6 class="mb-0">
            <a *ngIf="speaker.url" [href]="speaker.url" target="_blank">
              <i class="fas fa-user small"></i></a>
            <a *ngIf="speechOptions && speechOptions.clickNameFn" class="dotted"
               (click)="speechOptions.clickNameFn(speaker)" href="javascript:void(0)">
              {{speaker.names | localize}}</a>
            <ng-container *ngIf="!speechOptions || !speechOptions.clickNameFn">
              {{speaker.names | localize}}
            </ng-container>
          </h6>
          <span class="small text-muted">{{speaker.titles | localize}}</span>
        </span> -->
      </div>
      <div>
        <p class="small" *ngFor="let paragr of (speech.descr | localize:[])">{{paragr}}</p>
      </div>
    </div>
  </div>
  <div class="row mb-4"></div>  
</div>
