<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <span *ngIf="this.dataContext.nextMeetings.length > 0">
        <meeting-info-block
          *ngFor="let m of this.dataContext.nextMeetings"
          [showRegisterEvent]="true" [meeting]="m"></meeting-info-block>
      </span>
      <div class="pb-5" *ngIf="this.dataContext.nextMeetings.length === 0">
        {{'main.next_meeting.info.not_avaliable' | translate}}
      </div>
    </div>
  </div>
</div>

<dc-latest-videos></dc-latest-videos>
