<div class="row" class="social-bg pt-3">
  <div class="container">
    <div class="row">
      <div class="col d-flex flex-row">
        <div *ngFor="let youtubeChannelId of youtubeChannelIds" class="pr-2">
          <div class="g-ytsubscribe"
               [attr.data-channelid]="youtubeChannelId"
               data-layout="full"
               data-theme="dark"
               data-count="default">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col pb-2">
        <div class="fb-like"
             [attr.data-href]="facebookPageUrl"
             data-colorscheme="dark"
             data-width=""
             data-layout="standard"
             data-action="like"
             data-size="small"
             data-show-faces="true"
             data-share="true"></div>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex flex-row pb-2">
        <div class="pr-2">
          <a class="github-button"
             href="https://github.com/devclub"
             data-size="large"
             data-show-count="false"
             aria-label="Follow @devclub on GitHub">Follow @devclub</a>
        </div>
        <div class="pr-2">
          <a class="github-button" href="https://github.com/devclub/site/subscription" data-icon="octicon-eye"
             data-size="large" data-show-count="true" aria-label="Watch devclub/site on GitHub">Watch</a>
        </div>
        <div class="pr-2">
          <a class="github-button" href="https://github.com/devclub/site" data-icon="octicon-star" data-size="large"
             data-show-count="true" aria-label="Star devclub/site on GitHub">Star</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="container">-->
<!--  <div class="row justify-content-center">-->
<!--    <div class="col-12 col-sm-4 p-2 d-flex flex-column">-->
<!--      <div class="pb-2">-->
<!--        <a class="github-button"-->
<!--           href="https://github.com/devclub"-->
<!--           data-size="large"-->
<!--           data-show-count="false"-->
<!--           aria-label="Follow @devclub on GitHub">Follow @devclub</a>-->
<!--      </div>-->
<!--      <div *ngFor="let youtubeChannelId of youtubeChannelIds" class="pb-2">-->
<!--        <div class="g-ytsubscribe"-->
<!--             [attr.data-channelid]="youtubeChannelId"-->
<!--             data-layout="full"-->
<!--             data-count="default">-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-12 col-sm-4 pb-2">-->
<!--      <div class="fb-page"-->
<!--           [attr.data-href]="facebookPageUrl"-->
<!--           data-tabs=""-->
<!--           data-width=""-->
<!--           data-height=""-->
<!--           data-small-header="true"-->
<!--           data-adapt-container-width="false"-->
<!--           data-hide-cover="false"-->
<!--           data-show-facepile="true">-->
<!--        <blockquote [attr.cite]="facebookPageUrl" class="fb-xfbml-parse-ignore">-->
<!--          <a [href]="facebookPageUrl">Devclub</a>-->
<!--        </blockquote>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-12 col-sm-4 pb-2">-->
<!--      <div class="fb-group"-->
<!--           [attr.data-href]="facebookGroupUrl"-->
<!--           data-width="338"-->
<!--           data-show-social-context="true"-->
<!--           data-show-metadata="false">-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
