<div class="row">
  <div class="col">
    <h2 class="text-muted text-right">{{sectionTitle}}</h2>
    <hr class="mt-1"/>
  </div>
</div>
<div class="row mb-4" *ngFor="let members of memberRows">
  <div class="col" *ngFor="let member of members">
    <div *ngIf="!member.emptyCell" class="image-wrap">
      <a href="{{member.url}}" target="_blank" class="image-lighten">
        <img src="{{member.image}}" class="img-fluid">
      </a>
      <div class="member-text">{{member.names | localize}}</div>
    </div>
  </div>
</div>
