<nav class="navbar sticky-top navbar-expand-lg navbar-dark" [ngStyle]="dataContext.config.navbarStyle"
     style="">
  <a class="navbar-brand" href="#/">
    <img src="assets/images/logo_navbar.png" height="30" class="d-inline-block align-top"/>
    {{dataContext.config.devclubText}}
  </a>
  <button class="navbar-toggler" [ngClass]="{'collapsed': !isMenuOpen}" type="button" (click)="toggleMenu()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarNavDropdown" class="navbar-collapse collapse" [ngClass]="{'show': isMenuOpen}">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [ngClass]="{'active': isCurrentLang(lang.code)}" *ngFor="let lang of langs">
        <a class="nav-link lang" href="javascript:void(0)" (click)="switchLang(lang.code)">{{lang.text}}</a>
      </li>
    </ul>
    <ul class="navbar-nav nav-right">
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)"
           [ngClass]="{'active': isMainUrl()}"
           (click)="navigate('/')">{{'menu.meeting' | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)"
           [ngClass]="{'active': isCurrentUrl('/archive')}"
           (click)="navigate('/archive')">{{'menu.archive' | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)"
           [ngClass]="{'active': isCurrentUrl('/advertising')}"
           (click)="navigate('/advertising')">{{'menu.advertising' | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)"
           [ngClass]="{'active': isCurrentUrl('/about')}"
           (click)="navigate('/about')">{{'menu.about' | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-danger mr-sm-2 mb-sm-0 mb-2"
           role="button" href="javascript:void(0)"
           [ngClass]="{'active': isCurrentUrl('/speaker')}"
           (click)="navigate('/speaker')">{{'menu.speaker' | translate}}</a>
      </li>
      <li class="nav-item" *ngIf="dataContext.config.blogUrl">
        <a class="nav-link" [href]="dataContext.config.blogUrl">
          {{ 'menu.blog' | translate }}
          <span class="fas fa-external-link-alt"></span>
        </a>
      </li>
      <li class="nav-item" *ngIf="dataContext.config.devclubMenuText">
        <a class="nav-link" [href]="dataContext.config.devclubMenuUrl">
          {{dataContext.config.devclubMenuText}}
          <span class="fas fa-external-link-alt"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>

<dc-ads-row-upper></dc-ads-row-upper>

<div class="mt-3"></div>

<router-outlet></router-outlet>

<div class="container">
  <title-row>{{'common.title.team_members' | translate}}</title-row>
  <team-rows [memberRows]="dataContext.teamMember"></team-rows>
</div>

<dc-ads-row-lower></dc-ads-row-lower>

<footer [ngStyle]="dataContext.config.footerStyle" class="pt-3 mt-3 pb-5">
  <div class="container">
    <ressources></ressources>
    <div class="row mt-3">
      <div class="col">
        <small>© 2008-{{currentYear}} {{'common.footer.devclub_team' | translate}}</small>
      </div>
    </div>
  </div>
</footer>
