<div class="row">
  <div class="col">
    <ng-content></ng-content>
    <a *ngFor="let youtubeUrl of speech.youtubeUrls" href="{{youtubeUrl}}" target="_blank">
      <i *ngIf="youtubeUrl" class="fab fa-youtube"></i></a>
    <span *ngIf="speech.info" [tooltip]="speech.info | localize" placement="right">
      <i class="fas fa-info-circle"></i></span>
    <span *ngIf="speech.top" [ngClass]="'place' + speech.top.place"
          [tooltip]="'common.speech.top.tooltip' | translate:{place: speech.top.place}"
          placement="right">
      <i class="fas fa-trophy small"></i></span>
    <b>{{speech.titles | localize}}</b>
    <span *ngFor="let presentationUrl of speech.presentations"
          [tooltip]="'common.speech.presentation.tooltip' | translate"
          placement="bottom">
      <a [href]="presentationUrl" target="_blank">
        <i class="fab fa-slideshare small"></i></a>
    </span>
    <span *ngFor="let exampleUrl of speech.examples"
          [tooltip]="'common.speech.example.tooltip' | translate"
          placement="bottom">
      <a [href]="exampleUrl" target="_blank">
        <i class="fas fa-file-alt small"></i></a>
    </span>
    <span> — </span>
    <ng-container *ngFor="let speaker of speech.speakers; let last = last">
      <a *ngIf="speaker.url" [href]="speaker.url" target="_blank">
        <i class="fas fa-user small"></i></a>
      <a *ngIf="options && options.clickNameFn" class="dotted"
         (click)="options.clickNameFn(speaker)" href="javascript:void(0)">
        {{speaker.names | localize}}</a>
      <ng-container *ngIf="!options || !options.clickNameFn">
        {{speaker.names | localize}}
      </ng-container>
      <ng-container *ngIf="!last">, </ng-container>
    </ng-container>
    <ng-container *ngIf="options && options.clickLabelFn">
      <span class="badge badge-label mr-1 pointer" (click)="options.clickLabelFn(label)" *ngFor="let label of speech.labels">
        {{label}}</span>
    </ng-container>
    <ng-container *ngIf="!options || !options.clickLabelFn">
      <span class="badge badge-label mr-3" *ngFor="let label of speech.labels">
        {{label}}</span>
    </ng-container>
    <span class="badge badge-lang"
          [ngClass]="{'badge-lang': translate.currentLang === speech.lang,
                'badge-danger': translate.currentLang !== speech.lang}">
      {{'common.speech.lang.' + speech.lang | translate}}</span>
  </div>
</div>
