<div class="container">

  <dc-title-row>{{'about.title.about_us' | translate}}</dc-title-row>

  <div class="row">
    <div class="col">
      <img class="mx-auto d-block d-sm-none" src="assets/images/logo_desc.png"/>
    </div>
  </div>

  <dc-short-info-block></dc-short-info-block>

  <dc-title-row>{{'about.title.events' | translate}}</dc-title-row>

  <div class="row mb-3">
    <iframe [src]="calendarUrl" class="col" style="border: 0"
            height="200" frameborder="0" scrolling="no"></iframe>
  </div>

  <dc-title-row>{{'about.title.resources' | translate}}</dc-title-row>

  <dc-ressources></dc-ressources>

  <dc-title-row>{{'about.logos.title' | translate}}</dc-title-row>

  <div class="row mb-3">
    <div class="col">
      <p>{{'about.logos.p1' | translate}}</p>
    </div>
  </div>

  <div class="row justify-content-center mb-3">
    <div class="col text-center">
      <a href="{{dataContext.logosArchiveUrl}}" target="_blank" class="btn btn-primary">
        {{'about.logos.button.download' | translate}}
      </a>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <img src="assets/images/brand/logo_eu.png" class="img-fluid">
    </div>
    <div class="col">
      <img src="assets/images/brand/logo_ee.png" class="img-fluid">
    </div>
    <div class="col">
      <img src="assets/images/brand/logo_lv.png" class="img-fluid">
    </div>
  </div>

  <dc-title-row>{{'about.title.photos' | translate}}</dc-title-row>

  <div class="row" *ngFor="let rows of dataContext.config.photos">
    <div class="col-12 col-md-4 col-lg-2 mb-3 text-center" *ngFor="let photo of rows">
      <div class="image-wrap">
        <a href="{{photo.mainUrl}}" target="_blank" class="image-lighten">
          <img src="{{photo.smallUrl}}" class="img-fluid"/>
          <div class="photo-text">{{photo.texts | localize}}</div>
        </a>
      </div>
    </div>
  </div>

  <dc-title-row>{{'about.title.thanks' | translate}}</dc-title-row>

  <div class="row mb-3">
    <div class="col" *ngFor="let p of dataContext.teamThanks">
      <div class="image-wrap">
        <a href="{{p.url}}" target="_blank" class="image-lighten">
          <img src="{{p.imageUrl}}" class="img-fluid">
          <div class="member-text d-none d-md-block">{{p.names | localize}}</div>
        </a>
      </div>
    </div>
  </div>
</div>
