
.img-fluid{ /* Overwrites global style */
  width: 60%;
  height: auto;
  margin-left:20%;
  border-radius: 50%;
}
.small{
  font-size: 14px;
}
.main-info {
  color: #000000;
}
.name-container{
  text-align: center;
}
.speech-container{
  margin-top: 2rem;	
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
  			  0 1px 5px 0 rgba(0, 0, 0, 0.12), 
  			  0 3px 1px -2px rgba(0, 0, 0, 0.2);
  padding: 1rem 0px;			  	 
}
.meeting-container{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.meeting-header-container{
  padding-left: 0px;
}
.meeting-info-container{
  padding-left: 1.7rem;
  margin-top: 1rem;
  color: #666;
}
.meeting-info-icon{
  color: #333;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}
.fa-calendar-alt{
  margin-left: 0.2rem;
}
.fa-clock{
  margin-left: 0.5rem;
}
