<nav class="navbar sticky-top navbar-expand-lg navbar-dark" [ngStyle]="dataContext.config.navbarStyle"
     style="">
  <a class="navbar-brand" href="#/">{{dataContext.config.devclubText}}</a>
  <button class="navbar-toggler" [ngClass]="{'collapsed': !isMenuOpen}" type="button" (click)="toggleMenu()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarNavDropdown" class="navbar-collapse collapse" [ngClass]="{'show': isMenuOpen}">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [ngClass]="{'active': isCurrentLang(lang.code)}" *ngFor="let lang of langs">
        <a class="nav-link" href="javascript:void(0)" (click)="switchLang(lang.code)">{{lang.text}}</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)"
           [ngClass]="{'active': isMainUrl()}"
           (click)="navigate('/')">{{'menu.meeting' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)"
           [ngClass]="{'active': isCurrentUrl('/archive')}"
           (click)="navigate('/archive')">Архив</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)"
           [ngClass]="{'active': isCurrentUrl('/sponsors')}"
           (click)="navigate('/sponsors')">Спонсорство</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)"
           [ngClass]="{'active': isCurrentUrl('/about')}"
           (click)="navigate('/about')">О нас</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{dataContext.config.blogUrl}}">Блог</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-danger mr-sm-2"
           role="button" href="javascript:void(0)"
           [ngClass]="{'active': isCurrentUrl('/speaker')}"
           (click)="navigate('/speaker')">Выступающему</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-light" role="button"
           href="{{dataContext.config.devclubMenuUrl}}">
          {{dataContext.config.devclubMenuText}}
        </a>
      </li>
    </ul>
  </div>
</nav>

<commercial-row></commercial-row>

<router-outlet></router-outlet>

<div class="container">
  <title-row titleCode="Организаторы"></title-row>
  <team-rows [memberRows]="dataContext.teamMember"></team-rows>
</div>

<commercial-row></commercial-row>

<footer [ngStyle]="dataContext.config.footerStyle" class="pt-3 pb-5">
  <div class="container">
    <ressources></ressources>
    <div class="row mt-3">
      <small>© 2008-{{currentYear}} команда Devclub</small>
    </div>
  </div>
</footer>
