<div *ngIf="fullscreen" class="fullscreen-info">
  <div class="row mt-2 mr-2">
    <div class="col">
      <a href="javascript:void(0)" (click)="fullscreen = false" class="float-right" style="color: #FFFFFF">
        <fa-icon [icon]="['fas', 'times']"></fa-icon>
      </a>
    </div>
  </div>
  <div class="container" style="padding-top: 60px">
    <div class="row">
      <div class="col-9">
        <h1>{{'common.title.meeting' | translate}} #{{meeting.num}} {{meeting.titles | localize}}</h1>
        <p>
          <fa-icon [icon]="['fas', 'calendar-alt']" class="pr-2"></fa-icon>
          {{meeting.start | date:'dd.MM.yyyy'}}
          | {{'common.weekday.' + meeting.start.getDay() | translate }}
          <fa-icon [icon]="['fas', 'clock']" class="pr-2 pl-2"></fa-icon>
          {{meeting.start | date:'HH:mm (zzz)'}}<br/>
          <span *ngIf="meeting.place">
            <fa-icon [icon]="['fas', 'home']" class="pr-2"></fa-icon>
            {{meeting.place.name}}<br/>
            <fa-icon [icon]="['fas', 'map']" class="pr-2"></fa-icon>
            {{meeting.place.addr}}
          </span>
        </p>
      </div>
      <div class="col-3">
        <img class="center-block" src="assets/images/logo_desc.png"/>
      </div>
    </div>
    <div class="row mt-3" *ngFor="let speechRow of convertIntoMatrix(meeting.speeches)">
      <div *ngFor="let speech of speechRow" class="col-xs-12"
           [ngClass]="{
             'col-sm-12': speechRow.length == 1,
             'col-sm-6': speechRow.length == 2,
             'col-sm-4': speechRow.length == 3,
             'col-sm-3': speechRow.length == 4,
             'col-sm': speechRow.length == 5}">
        <div class="row">
          <div class="col">
            <img [src]="speech.speakers[0].imageUrl" class="img-fluid meeting-info-speaker-image"/>
          </div>
        </div>
        <div class="row">
          <div class="col pt-3">
            <div class="text-center" *ngFor="let speaker of speech.speakers">
              <b>{{speaker.names | localize}}</b>
              <div class="small">{{speaker.titles | localize}}</div>
            </div>
            <h4 class="text-center pt-4">{{speech.titles | localize}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="col-12 meeting-container" *ngIf="!meeting.hiddenByFilter">
  <div class="row">
    <div class="col-12">
      <a class="float-right" href="javascript:void(0)" (click)="fullscreen = true">
        <fa-icon [icon]="['fas', 'expand-arrows-alt']"></fa-icon>
      </a>
    </div>
    <div class="col-12 meeting-header-container">
      <h2 class="mb-0">
        <ng-template #photoInfo>
          {{'meeting.info.photographs' | translate}}: {{meeting.org.photo | localizeOrg}}
        </ng-template>
        <span placement="top" [tooltip]="photoInfo" [isDisabled]="!meeting.org && !meeting.org.photo">
          <a *ngFor="let photo of meeting.photo" href="{{photo}}" target="_blank">
            <fa-icon *ngIf="photo" [icon]="['fas', 'camera']"></fa-icon>
          </a>
        </span>
        <ng-template #moderatorInfo>
          {{'meeting.info.moderated' | translate}}: {{meeting.org.mod | localizeOrg}}
        </ng-template>
        <span placement="top" [tooltip]="moderatorInfo" [isDisabled]="!meeting.org && !meeting.org.mod">
          {{'common.title.meeting' | translate}} #{{meeting.num}} {{meeting.titles | localize}}
        </span>
      </h2>
    </div>
  </div>
  <div class="row meeting-info-container">
    <div class="col-sm-9">
      <p class="main-info">
        <fa-icon [icon]="['fas', 'calendar-alt']" class="pr-2 meeting-info-icon"></fa-icon>
        {{meeting.start | date:'dd.MM.yyyy':'GMT+3'}}
        | {{'common.weekday.' + meeting.start.getDay() | translate }}
        <fa-icon [icon]="['fas', 'clock']" class="pr-2 pl-2 meeting-info-icon"></fa-icon>
        {{meeting.start | date:'HH:mm (zzz)'}}<br/>
        <ng-container *ngIf="meeting.place?.name">
          <fa-icon [icon]="['fas', 'home']" class="pr-2 meeting-info-icon"></fa-icon>
          {{meeting.place.name}}
          <a *ngIf="meeting.place.url" href="{{meeting.place.url}}" target="_blank">
            <fa-icon [icon]="['fas', 'external-link-square-alt']"></fa-icon>
          </a>
          <br/>
        </ng-container>
        <ng-container *ngIf="meeting.place?.addr">
          <fa-icon [icon]="['fas', 'map']" class="pr-2 meeting-info-icon"></fa-icon>
          {{meeting.place.addr}}
          <a *ngIf="meeting.place.loc" href="{{meeting.place.loc}}" target="_blank">
            <fa-icon [icon]="['fas', 'external-link-square-alt']"></fa-icon>
          </a>
        </ng-container>
      </p>
    </div>
    <div class="col-sm-3 text-right">
      <a *ngIf="showRegisterEvent && meeting.event" href="{{meeting.event}}" class="btn btn-info" target="_blank">
        {{'main.meeting.registration' | translate}}
      </a>
    </div>
  </div>
  <ng-container *ngFor="let speech of meeting.speeches">
    <div class="row speech-container" *ngIf="!speech.hiddenByFilter" style="background-color: #FFFFFF">
      <div class="col-sm-4 col-md-3">
        <div *ngFor="let speaker of speech.speakers">
          <div class="image-wrap mb-3">
            <a href="{{speaker.url}}" target="_blank">
              <img src="{{speaker.imageUrl}}" class="img-fluid meeting-info-speaker-image">
            </a>
          </div>
          <div class="name-container">
            <h4>
              <a *ngIf="speechOptions && speechOptions.clickNameFn" class="dotted"
                 (click)="speechOptions.clickNameFn(speaker)" href="javascript:void(0)">
                {{speaker.names | localize}}</a>
              <ng-container *ngIf="!speechOptions || !speechOptions.clickNameFn">
                {{speaker.names | localize}}
              </ng-container>
            </h4>
            <div class="small text-muted">{{speaker.titles | localize}}</div>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-md-9">
        <div class="mb-1">
          <h3 class="mb-0 pb-0">
            <ng-template #videoInfo>
              <ng-container *ngIf="speech.org && speech.org.cam">
                {{'speech.video.info.camera' | translate}}: {{speech.org.cam | localizeOrg}}<br/>
              </ng-container>
              <ng-container *ngIf="speech.org && speech.org.edit">
                {{'speech.video.info.edit' | translate}}: {{speech.org.edit | localizeOrg}}
              </ng-container>
            </ng-template>
            <span placement="top" [tooltip]="videoInfo"
                  [isDisabled]="!speech.org || (!speech.org.cam && !speech.org.edit)">
              <a *ngFor="let youtubeUrl of speech.youtubeUrls" href="{{youtubeUrl}}" target="_blank">
                <fa-icon *ngIf="youtubeUrl" [icon]="['fab', 'youtube']"></fa-icon>
              </a>
            </span>
            <span placement="top" *ngIf="speech.info" [tooltip]="speech.info | localize">
            <fa-icon [icon]="['fas', 'video-slash']"></fa-icon>
          </span>
            <span *ngIf="speech.top" [ngClass]="'place' + speech.top.place"
                  [tooltip]="'common.speech.top.tooltip' | translate:{place: speech.top.place}"
                  placement="right" class="ml-2">
            <fa-icon [icon]="['fas', 'trophy']"></fa-icon>
          </span>
            {{speech.titles | localize}}
          </h3>
          <div class="mb-3 mt-3">
            <ng-container *ngIf="speechOptions && speechOptions.clickLabelFn">
            <span class="badge badge-big badge-label mr-3 mt-2 pointer" (click)="speechOptions.clickLabelFn(label)"
                  *ngFor="let label of speech.labels">
              {{label}}</span>
            </ng-container>
            <ng-container *ngIf="!speechOptions || !speechOptions.clickLabelFn">
            <span class="badge badge-big badge-label mr-3 mt-2" *ngFor="let label of speech.labels">
              {{label}}</span>
            </ng-container>
            <span class="badge badge-big mr-3 mt-2"
                  [ngClass]="{'badge-lang': lang === speech.lang,
                  'badge-danger': lang !== speech.lang}">
            {{'common.speech.lang.' + speech.lang | translate}}
          </span>
            <span *ngFor="let presentationUrl of speech.presentations"
                  [tooltip]="'common.speech.presentation.tooltip' | translate"
                  placement="bottom" class="mr-3 mt-1">
            <a [href]="fileUrlPrefix + '/' + presentationUrl" target="_blank">
              <fa-icon [icon]="['fab', 'slideshare']" size="2x"></fa-icon>
            </a>
          </span>
            <span *ngFor="let exampleUrl of speech.examples"
                  [tooltip]="'common.speech.example.tooltip' | translate"
                  placement="bottom" class="mr-3 mt-1">
            <a [href]="fileUrlPrefix + '/' + exampleUrl" target="_blank">
              <fa-icon [icon]="['fas', 'file-alt']" size="2x"></fa-icon>
            </a>
          </span>
          </div>
        </div>
        <div>
          <p class="small" *ngFor="let paragr of (speech.descr | localize:[])">{{paragr}}</p>
        </div>
      </div>
    </div>
  </ng-container>
  <div class="row mb-4"></div>
</div>
