<div class="row">
  <div class="col-12 col-sm-6 col-md-3 mb-2">
    <h6>DEVCLUB.EU</h6>
    <div>
      <span class="f-icon"><i class="fas fa-desktop mr-1"></i></span>
      <a [href]="dataContext.eu.site">devclub.eu</a>
    </div>
    <div>
      <span class="f-icon"><i class="fab fa-youtube mr-1"></i></span>
      <a [href]="dataContext.eu.youtube">EU YouTube</a>
    </div>
    <div>
      <span class="f-icon"><i class="fas fa-camera mr-1"></i></span>
      <a [href]="dataContext.eu.googlephoto">EU photos</a>
    </div>
    <div>
      <span class="f-icon"><i class="fab fa-facebook mr-1"></i></span>
      <a [href]="dataContext.eu.facebookgroup">EU fb:group</a>
    </div>
    <div>
      <span class="f-icon"><i class="fab fa-google-plus-g mr-1"></i></span>
      <a [href]="dataContext.eu.googleplus">EU google+</a>
    </div>
    <div>
      <span class="f-icon"><i class="fab fa-wordpress mr-1"></i></span>
      <a [href]="dataContext.eu.blog">blog.devclub.eu</a>
    </div>
    <div>
      <span class="f-icon"><i class="fas fa-rss mr-1"></i></span>
      <a [href]="dataContext.eu.blogfeed">blog:feed</a>
    </div>
    <div>
      <span class="f-icon"><i class="fas fa-comments mr-1"></i></span>
      <a [href]="dataContext.eu.googlegroup">EU google-group</a>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-3 mb-2">
    <h6>DEVCLUB.EE</h6>
    <div>
      <span class="f-icon"><i class="fas fa-desktop mr-1"></i></span>
      <a [href]="dataContext.ee.site">devclub.ee</a>
    </div>
    <div>
      <span class="f-icon"><i class="fab fa-youtube mr-1"></i></span>
      <a [href]="dataContext.ee.youtube">EE YouTube</a>
    </div>
    <div>
      <span class="f-icon"><i class="fas fa-camera mr-1"></i></span>
      <a [href]="dataContext.ee.googlephoto">EE photos</a>
    </div>
    <div>
      <span class="f-icon"><i class="fab fa-facebook mr-1"></i></span>
      <a [href]="dataContext.ee.facebook">fb:devclub.ee</a>
    </div>
    <div>
      <span class="f-icon"><i class="fab fa-google-plus-g mr-1"></i></span>
      <a [href]="dataContext.ee.googleplus">EE google+</a>
    </div>
    <div>
      <span class="f-icon"><i class="fab fa-wordpress mr-1"></i></span>
      <a [href]="dataContext.ee.blog">blog.devclub.ee</a>
    </div>
    <div>
      <span class="f-icon"><i class="fas fa-rss mr-1"></i></span>
      <a [href]="dataContext.ee.blogfeed">blog:feed</a>
    </div>
    <div>
      <span class="f-icon"><i class="fab fa-twitter mr-1"></i></span>
      <a [href]="dataContext.ee.twitter">twttr:devclubs</a>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-3 mb-2">
    <h6>DEVCLUB</h6>
    <div>
      <span class="f-icon"><i class="fas fa-envelope mr-1"></i></span>
      <a href="mailto:{{dataContext.common.mail}}">{{dataContext.common.mail}}</a>
    </div>
    <div>
      <span class="f-icon"><i class="fab fa-github mr-1"></i></span>
      <a [href]="dataContext.common.github">GIT:devclub</a>
    </div>
    <div>
      <span class="f-icon"><i class="fas fa-calendar-alt mr-1"></i></span>
      <a [href]="dataContext.common.googlecalendar">EU & EE calendar</a>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-3 mb-2">
    <h6>DEVCLUB.LV</h6>
    <div>
      <span class="f-icon"><i class="fas fa-desktop mr-1"></i></span>
      <a [href]="dataContext.lv.site">devclub.lv</a>
    </div>
    <div>
      <span class="f-icon"><i class="fab fa-youtube mr-1"></i></span>
      <a [href]="dataContext.lv.youtube">LV YouTube</a>
    </div>
    <div>
      <span class="f-icon"><i class="fas fa-camera mr-1"></i></span>
      <a [href]="dataContext.lv.flickrphoto">LV photos</a>
    </div>
    <div>
      <span class="f-icon"><i class="fab fa-facebook mr-1"></i></span>
      <a [href]="dataContext.lv.facebook">fb:DevClubLV</a>
    </div>
    <div>
      <span class="f-icon"><i class="fas fa-envelope mr-1"></i></span>
      <a href="mailto:{{dataContext.lv.mail}}">{{dataContext.lv.mail}}</a>
    </div>
    <div>
      <span class="f-icon"><i class="fas fa-calendar-alt mr-1"></i></span>
      <a [href]="dataContext.lv.googlecalendar">LV calendar</a>
    </div>
    <div>
      <span class="f-icon"><i class="fab fa-twitter mr-1"></i></span>
      <a [href]="dataContext.lv.twitter">twttr:DevClub_lv</a>
    </div>
  </div>
</div>
